  <h1>Création d'un compte</h1>
  {% if error %}
    <p style="color:#F00">Tous les champs sont obligatoires. Veuillez recommencer.</p>
  {% endif %}
  <form action="/" method="POST">
      <!-- L'endroit idéal où indiquer à l'usager que son nom ne doit comporter que des lettres ? -->
      <!-- Vous pouvez par exemple réutiliser le if de Jinja2 visible plus haut dans ce code -->
    <label for="champ_username">Nom d'utilisateur</label>&nbsp;<input type="text" id="champ_username" name="username" maxlength="25">
    <br>
    <label for="champ_password">Mot de passe</label>&nbsp;<input type="password" id="champ_password" name="password" maxlength="40">
    <br>
    <!-- L'endroit idéal où indiquer à l'usager que son courriel doit avoir un format valide ? -->
    <label for="champ_email">Courriel</label>&nbsp;<input type="text" id="champ_email" name="email" maxlength="100">
    <br>
    <input type="submit" value="Soumettre">
  </form>
